<div>
    <button
    mat-raised-button
    (click)="getUrls()"
    >
        All Urls
    </button>
    <!-- <div ngFor*="let url of urls">
        <span>{{url.name}}</span>
        <span>{{url.url}}</span>
    </div> -->
    <!-- <table mat-table [dataSource]="urls" class="mat-elevation-z8"> -->
  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Url Column -->
  <!-- <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Url </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
  <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
</table> -->
</div>
